<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        {% block head %}
        <title></title>
        {% endblock %}
    </head>
    <body>
        <br>
        <!-- Navigation Bar -->
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <a class="navbar-brand" href="/">Scripter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample09">
              {% if user.is_authenticated %}
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/account">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/account/logout">Logout<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/account/profile">Profile</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/account/profile/edit">Edit Profile</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/account/change-password">Change Password</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/account/password_reset">Reset Password</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-md-0">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
              </form>
              {% else %}
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/account">Home</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-md-0">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/account/login">Login</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/account/register">Register</a>
                  </li>
                </ul>
              </form>
              {% endif  %}
            </div>
          </nav>
        </div>

        {% block body %}
        {% endblock %}
    </body>
</html>



