<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial scale=1">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--
	<link rel = "stylesheet" href = "../../static/accounts/style.css">
	<link rel = "stylesheet" href = "../../../static/accounts/style.css">
-->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <br>
        <!-- Navigation Bar -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <a class="navbar-brand" href="{% url 'accounts:home'%}"><img src="{% static 'team_image/logo.png'%}" height="20px"> Scripter</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsCollapse">

              {% if user.is_authenticated %}

              <ul class="navbar-nav p-3">
                <li class="nav-item active mr-auto">
                  <a class="nav-link button" href="{% url 'accounts:view_document' %}">Projects</a>
                </li>
                <li class="nav-item active mr-auto">
                  <a class="nav-link button" href="{% url 'accounts:about_us' %}">About Us</a>
                </li>
                <li class="nav-item dropdown mr-auto">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'accounts:view_profile' %}">Profile</a>
                        <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'accounts:edit_profile' %}">Edit Profile</a>
                      <a class="dropdown-item" href="{% url 'accounts:change_password' %}">Change Password</a>
                      <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Reset Password</a>
                    </div>
                </li>
                <li class="nav-item active ml-auto">
                  <a class="nav-link button" href="{% url 'accounts:logout' %}">Logout<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              {% else %}

              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link button" href="{% url 'accounts:home' %}">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link button" href="{% url 'accounts:about_us' %}">About Us</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-md-0">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link button" href="{% url 'accounts:login' %}">Login</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link button" href="{% url 'accounts:register' %}">Register</a>
                  </li>
                </ul>
              </form>

              {% endif  %}

            </div>
          </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>



